*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    min-height: 70vh;
    line-height: 1.5;
}
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1;
   
}


#holygrail-container {
    display: grid;
    grid-template-columns: 1.0fr;
    grid-template-rows: .6fr .6fr .6fr .6fr;
    gap: 0px 0px;
    place-items: center;
    background: #FFF;
    height: 100%;
    min-width: 600px;
   
}

header, footer, nav, aside, section {
    padding-top: 10px;
    
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
   background-image: url('../img/rahabi-khan-btgB0KRrKWc-unsplash.jpg');
   background-size: 100%;
   object-position: top;
   object-fit: contain;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
  width: 66%;
  min-width: 350px;
  
}



.hero-text{
    background-color: rgb(91, 95, 209);
    min-height: 125px;
    width: 66%;
  min-width: 350px;
    text-align: left;
    padding-left: 20px;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;

    
}

section  {
    display: grid;
    align-self: start;
   
    height: 80%;
    border-bottom: 1px solid #000;
    width: 52%;
    min-width: 350px;
    border-radius: 5px;
    
}

 .sect-content {
    height: 100%;
    padding-bottom: -10%;
    margin-bottom: -3%;
}

.section-title > h1, p {
text-align: left;
margin-bottom: -10px;
}
.section-title, h1::before{
  margin-bottom: 30px;
  border-bottom: 1px solid #5B5FD1;
  width: 10%;
  padding-bottom: 20px;
  border-width: 5px;
  padding-right: 20px;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

ul > li {
    padding: 5px 0;
    text-align: left;
    margin-top: 20px;
}

ul > li::before{
    content: '➡️';
    padding-right: 3px;
}
/* 
.overlay {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
  transform:translateY(-100%);
  transition: all 4s 4s ease-out;
    
} */

.modal-container {
    background: #FFF;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 3;
}

.modal-content {
    text-align: center;
}

@supports (-webkit-text-stroke: 1px black) {
    .css-3d-tex{
      text-transform: capitalize;
      font-size: 150px;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: transparent;
    }
}
   
 
.css-3d-text {
    text-align: center;
    margin-top: 100px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(2,134,250),
                 1px 1px 0 rgb(-3,129,245),
                 2px 2px 0 rgb(-8,124,240),
                 3px 3px 0 rgb(-13,119,235),
                 4px 4px 0 rgb(-18,114,230),
                 5px 5px 0 rgb(-23,109,225),
                 6px 6px 0 rgb(-28,104,220),
                 7px 7px 0 rgb(-33,99,215),
                 8px 8px 0 rgb(-38,94,210),
                 9px 9px 0 rgb(-43,89,205),
                 10px 10px  0 rgb(-48,84,200),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
 }


 .stroke {
    font-size: 61px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0066ff;
    -webkit-text-fill-color: #ffffff;
    letter-spacing: 7px;
    font-family: Impact, Charcoal, sans-serif;
}
h1 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    margin-top: 1.4rem;
}
#loader-wrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  will-change: animation;
}
#loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:3px solid transparent;
  border-top-color:white;
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index:1001;
}
#loader:before {
  content:"";
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border:3px solid transparent;
  border-top-color: yellow;
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader:after {
  content:"";
  position: absolute;
  top:12px;
  left:12px;
  right:12px;
  bottom:12px;
  border:3px solid transparent;
  border-top-color:orange;
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:#333;
  width:51%;
  height:100%;
  z-index:1000;
}

#loader-wrapper .loader-section.section-left {
  left:0
}
#loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 3s 3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 3s 3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
  opacity: 0;
  transition: all 3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 3s 3s ease-out;
}



/***** Global Slide *****/
.slide-right, .slide-left {
    width: 100%;
  }
  
  /***** Slide Right *****/
  .slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -150%;
    }
    to {
      margin-left: 0%;
    }
  }

  
/***** Slide Left *****/
.slide-left {
    animation: 3s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }

  
/***** FadeIn Underline *****/
.line {
    border-bottom: 3px solid black;;
    width: 150px;
    margin: auto;
    padding: 15px;
  }
  .fade-in {
    animation: fadeIn ease 3s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  